@import url("style.css");

.clients {
    padding: var(--SECTION-PADDING);
}

.clients h3 {
    margin: var(--SECTION-MARGIN);
    text-align: left;
}

.clients__feedback {
    display: grid;
    margin: var(--SECTION-MARGIN);
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.clients__box {
    border: 0.2rem solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    gap: 3rem;
    padding: 3rem;
    text-align: left;
    overflow: scroll;
}

.clients__image {
    grid-row: span 2;
    display: flex;
    justify-content: center;
}

.clients__image img {
    width: 100px;
    height: 100px;
}

.clients__text,
.clients__name {
    text-align: left;
    padding: 0;
}

@media screen and (max-width: 1200px) {
    .clients__box {
        height: 35rem;
    }
}

@media screen and (max-width: 992px) {
    .clients__feedback {
        grid-template-columns: 1fr;
    }

    .clients__box {
        height: 25rem;
    }
}

@media screen and (max-width: 768px) {
    .clients__feedback {
        grid-template-columns: 1fr;
    }

    .clients__box {
        height: 30rem;
    }
}
