.content {
    background-color: var(--BACKGROUND-BLUE);
    background-image: url('../img/content-background.png');
    background-size: cover;
    background-position: bottom;
}

.content__text {
    margin: var(--SECTION-MARGIN);
    padding: var(--SECTION-PADDING);
}
