.features {
    display: grid;
    grid-template-columns: 2fr 5fr 1.5fr;
    align-items: center;
    padding: var(--SECTION-PADDING);
    text-align: left;
    background-color: var(--BACKGROUND-BLUE);
    background-image: url('../img/features-background.png');
    background-size: cover;
    background-position: center;
}

.features__content :where(p, h3, h5) {
    text-align: left;
}

.features__content {
    margin: 0 3rem;
}

.features__heading {
    margin-bottom: 5rem;
}

.features__text {
    display: flex;
    margin-bottom: 5rem;
    gap: 5rem;
}

.features__text i {
    font-size: 5rem;
    margin-bottom: 3rem;
}

.features__text h5 {
    margin-bottom: 2rem;
}

.features__slider {
    display: grid;
    grid-auto-flow: row; 
    gap: 1rem;
    justify-content: center;
}
