.footer__brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--SECTION-MARGIN);
    padding: 3rem 0;
}

.footer__brand h4 {
    padding: 0;
}


.footer__brand ul {
    display: flex;
}

.footer__brand ul li {
    margin-left: 2rem;
    margin-right: 0;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    margin: var(--SECTION-MARGIN);
}

.footer__links ul {
    display: flex;
}

.footer__links ul li {
    margin-left: 0;
    margin-right: 2rem;
}

.footer__links p {
    font-size: 1.6rem;
    padding: 0;
    text-align: end;
}
