.pricing {
    background-color: var(--BACKGROUND-PURPLE);
    background-image: url('../img/pricing-background.png');
    background-size: cover;
    background-position: bottom;
}

.pricing__wrapper {
    margin: var(--SECTION-MARGIN);
    padding: var(--SECTION-PADDING);
}

.pricing__text h3 {
    padding: 0;
    margin-bottom: 1rem;
}

.pricing__text p {
    margin-bottom: 2.5rem;
    margin: 0 20% 3rem 20%;
    padding: 0;
}

.pricing__tiers > div h1::after {
    content: url('../img/$.png');
    position: absolute;
    top: 4rem;
}

.pricing__tiers > div ul li {
    margin: 1rem 0 1rem 5rem;
}

.pricing__tiers {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}

.pricing__tiers > div {
    border: var(--BOX-BORDER);
    border-radius: 1rem;
    flex: 1 1 0;
    padding: 3rem;
    position: relative;
    overflow: hidden;
}

.pricing__tier-button {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
}

.pricing__tier-button button {
    width: 70%;
}

@media screen and (max-width: 1200px) {
    .pricing__tiers {
        flex-direction: column;
    }

    .pricing__tiers > div {
        overflow: visible;
    }

    .pricing__tiers > div ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .pricing__tiers > div ul li {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .pricing__tiers > div ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing__tiers > div ul li {
        margin-left: 0;
        margin-right: 0;
    }
}
