@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    height: auto;
}

body {
    /* margin: 0 auto;
    max-width: 180rem; */
    font-family: 'DM sans', sans-serif;
}

 /* STATES */
.image--blend {
    background-blend-mode: multiply;
}


/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding-top: 1rem;
}

.header ul li {
    list-style-type: none;
    font-size: 1.8rem;
    padding: 1rem 4rem;
    transition: transform .3s ease-out;
}

.header ul li a,
.header ul li i {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.header ul li a:hover,
.header ul li i:hover {
    color: #a5a5a5;
    text-shadow: 1px 1px 5px rgb(66, 66, 66);
    transform: scale(1.1);
}

/* HERO */
.hero {
    background: linear-gradient(#fff, #FFC6C6, #BA9FE7, #9CECFF);
    background-color: #2f189380;
    min-height: 100vh;
    background-image: url('../img/hero.png');
    background-size: cover;
    background-position: center right;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero__carousel {
    flex: 0 1 auto;
    display: grid;
    grid-template-areas: "a a a a a";
    grid-area: a;
    grid-auto-columns: 100%;
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; 
    margin-bottom: 2rem;
}

.hero__wrapper {
    position: relative;
    padding: 5rem 0;
}

.hero__card:first-child {
    left: 0;
}

.hero__text {
    margin: 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 0.1rem black;
}

.hero__wrapper h2 {
    font-weight: 700;
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
}

.hero__text h1 {
    font-size: 7.2rem;
    padding: 2rem 0;
}

.hero__text p {
    font-size: 2.2rem;
    padding: 1rem 0;
}

/* 
.hero__wrapper form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -5rem;
} */

.hero__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero__buttons form {
    display: grid;
    grid-auto-flow: column; 
    gap: 1rem;
}

.hero #left,
.hero #right {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    z-index: 1;
}

.hero #left {
    left: 8%;
    top: 50%;
}

.hero #right {
    right: 8%;
    top: 50%;
}

.hero i {
    font-size: 2rem;
    color: #fff;
}

.hero i:hover {
    font-size: 2rem;
    color: #c4c4c4;
}

.hero__buttons input {
    appearance: none;
    font: inherit;
    color: #fff;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.2rem solid rgba(214, 214, 214, 0.5);
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.hero__buttons input:hover {
    cursor: pointer;
}

.hero__buttons input::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #fff;
}

.hero__buttons input:checked::before {
    transform: scale(1);
}

.hero__buttons button {
    cursor: pointer;
    color: #fff;
    background: #482BE7;
    padding: 1rem;
    border-radius: 3rem;
    border: none;
    width: 18rem;
    height: 5rem;
    margin-top: 6rem;
    transition: border .1s ease-in;
    box-sizing: border-box;
}

.hero__buttons button:hover {
    background: #fff;
    border: 0.2rem solid #482BE7;
    color: #482BE7;
}

.header__spacer {
    flex: 1;
}
