@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    height: auto;
}

form :where(input, select, textarea) {
    font-family: inherit;
    font-size: 1.8rem;
}

select {
    background-color: white;
}

/* VARIABLES */
:root {
    --SECTION-PADDING: 10rem 0;
    --SECTION-MARGIN: 0 12%;
    --BRAND-PURPLE: #482BE7;
    --BRAND-DARK-PURPLE: #2f1893;
    --BRAND-DARK-PURPLE-TRANSPARENT: #2f189380; 
    --BACKGROUND-BLUE: #090764b4;
    --PURPLE-TEXT:#1e0e62;
    --TITLE-MARGIN: 2.5rem;
    --FORM-INPUT-PADDING: 1.3rem 1.3rem 1.3rem 2.5rem;
    --FORM-INPUT-BORDER-RADIUS: 30px;
    --FORM-INPUT-BORDER: 0.2rem solid rgba(31, 31, 31, 0.123);
    --FORM-INPUT-TEXT-COLOUR: rgba(21, 20, 57, 0.8);
    --GREEN: #25DAC5;
}

/* GENERAL STYLES */
body {
    margin: 0 auto;
    max-width: 200rem;
    font-family: 'DM sans', sans-serif;
    background-color: var(--BRAND-DARK-PURPLE);
}

h1 {
    font-size: 7.2rem;
    padding: 2rem 0;
}

h2 {
    font-size: 5.8rem;
    padding: 2rem 0;
}

h3 {
    font-size: 4.2rem;
    padding: 2rem 0;
}

h4 {
    font-weight: 700;
    font-size: 2.2rem;
}

h5 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

p {
    font-size: 2.0rem;
    padding: 1rem 0;
    font-weight: 300;
}

:where(h1, h2, h3, h4, h5, p) {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 0.1rem black;
}

a, i {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

form input[type=radio] {
    appearance: none;
    font-family: inherit;
    color: #fff;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.2rem solid rgba(214, 214, 214, 0.5);
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: hover;
}

form input[type=radio]:hover {
    cursor: pointer;
}

form input[type=radio]::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #fff;
}

form input[type=radio]:checked::before {
    transform: scale(1);
}

button {
    cursor: pointer;
    color: #fff;
    padding: 1rem;
    border-radius: 3rem;
    border: none;
    height: 5rem;
    transition: border .1s ease-in;
    box-sizing: border-box;
    font: inherit;
    font-size: 1.5rem;
    font-weight: 500;
}

 /* STATES */
.image--blend {
    background-blend-mode: multiply;
}

.btn--purple {
    background: var(--BRAND-PURPLE);
    width: 18rem; 
    margin-top: 6rem;
}

.btn--purple:hover{
    background: #fff;
    border: 0.2rem solid var(--BRAND-PURPLE);
    color: var(--BRAND-PURPLE);
}

.btn--green {
    background: #25DAC5;
}

.btn--green:hover {
    color: var(--GREEN);
    border: 0.2rem solid  var(--GREEN);
    background: #fff;
}

.btn--blue {
    background: #1DA1F2;
}

.btn--blue:hover {
    color: #1DA1F2;
    border: 0.2rem solid #1DA1F2;
    background: #fff;
}

.figcaption--offscreen {
    position: absolute;
    left: -100000px;
}