@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    height: auto;
}

body {
    /* margin: 0 auto;
    max-width: 180rem; */
    font-family: 'DM sans', sans-serif;
}

/* HERO */
.hero {
    background: linear-gradient(#fff, #FFC6C6, #BA9FE7, #9CECFF);
    background-color: #2f189380;
    min-height: 100vh;
    background-image: url('../img/Image.png');
    background-size: cover;
    background-position: center right;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__carousel {
    display: flex;
    align-items: center;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.hero__wrapper {
    position: relative;
}

.hero--blend {
    background-blend-mode: multiply;
}

.hero__card {
    min-width: 100vw;
    position: relative;
}

.hero__card:first-child {
    left: 0;
}

.hero__text {
    margin: 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 0.1rem black;
}

.hero__wrapper h2 {
    font-weight: 700;
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
}

.hero__text h1 {
    font-size: 7.2rem;
    padding: 2rem 0;
}

.hero__text p {
    font-size: 2.2rem;
    padding: 1rem 0;
}

/* 
.hero__wrapper form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -5rem;
} */

.hero__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.hero__buttons form {
    margin-bottom: 3rem;
    display: grid;
    grid-auto-flow: column; 
    gap: 1rem;
}

.hero #left,
.hero #right {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    z-index: 1;
}

.hero #left {
    left: 8%;
    top: 50%;
}

.hero #right {
    right: 8%;
    top: 50%;
}

.hero i {
    font-size: 2rem;
    color: #fff;
}

.hero i:hover {
    font-size: 2rem;
    color: #c4c4c4;
}

.hero__buttons input {
    appearance: none;
    font: inherit;
    color: #fff;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.2rem solid rgba(214, 214, 214, 0.5);
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.hero__buttons input:hover {
    cursor: pointer;
}

.hero__buttons input::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #fff;
}

.hero__buttons input:checked::before {
    transform: scale(1);
}