@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    height: auto;
}

/* VARIABLES */
:root {
    --BRAND-COLOR: #f43a3a;
    --LINK-COLOR: #4F5665;
    --FONT-COLOR-MAIN: #0B132A;
    --FONT-COLOR-SECONDARY: #4F5665;
    --BORDER: 0.2rem solid rgba(31, 31, 31, 0.123);
}

/* GENERAL STYLES */
body {
    margin:    0 auto;
    max-width: 180rem;
}

.wrapper {
    margin: 0 min(5rem);
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--LINK-COLOR);
}

a:any-link {
    color: var(--LINK-COLOR);
}

a:hover, a:focus-visible {
    color: var(--BRAND-COLOR);
}

a:active {
    color: var(--BRAND-COLOR);
}

button {
    cursor: pointer;
}

span {
    font-weight: 700;
}

section {
    margin-top: 6rem;
}

ul {
    list-style: none;
}

h2 {
    font-size: 2rem;
    color: var(--FONT-COLOR-MAIN);
}

h3 {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--FONT-COLOR-SECONDARY);
}

p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
    color: var(--FONT-COLOR-SECONDARY);
}

@media screen and (max-width: 1200px) {
    .section {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }
}


/* STATES */
.button--state-small {
    font-weight: 500;
    width: 10rem;
    padding: 1rem;
    border-radius: 2rem;
}

.button--state-large {
    width: 25rem;
    height: 7rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 2rem;
    background-color: var(--BRAND-COLOR);
    color: white;
    border: none;
}

.button--state-large:hover {
    border: var(--BRAND-COLOR) solid 0.2rem;
    background: white;
    color: var(--BRAND-COLOR);
}


/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: clamp(1rem, 2rem, 2rem) 0;
}

.header__ul {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.header__nav {
    display: flex;
    justify-content: center;
}

.header__logo,
.header__signin {
    display: flex;
    flex: 1;
 }

 .header__signin {
    justify-content: flex-end;
 }
 

.header__signin-btn {
    border: none;
    background-color: #ffffff;
}

.header__signup-btn {
    color: var(--BRAND-COLOR);
    background-color: #ffffff;
    border: 0.1rem solid var(--BRAND-COLOR);
    margin-left: 1rem;
}

.header__signin-btn:hover {
    color: var(--BRAND-COLOR);
}

.header__signup-btn:hover {
    color: #ffffff;
    background-color: var(--BRAND-COLOR);
}

/* HERO */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hero__image img {
    width: 50vw;
    max-width: 80rem;
    min-width: 30rem;
}

.hero__intro h1 {
    font-size: 5rem;
    font-weight: 500;
    line-height:  7rem;
    margin-bottom: 1rem;
    color: var(--FONT-COLOR-MAIN);
}

.hero__intro p {
    margin-bottom: 1rem;
}

.hero__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .hero {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        row-gap: 5rem;
    }

    .hero__intro {
        justify-content: center;
    }

    .hero__image img {
        width: 80vw;
        max-width: 50rem;
    }

    .hero__get-started-btn {
        justify-content: center;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .hero__get-started-btn {
        width: 18rem;
        height: 5rem;
        border-radius: 1.4rem;
    }
}

/* BRAND PROMOTION */
.brand-promotion {
    display: flex;
}

.brand-promotion__section {
    display: flex;
    align-items: center;
    flex: 1;
    text-align: center;
    justify-content: center;
}

.brand-promotion__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10rem;
}

.brand-promotion__img,
.brand-promotion__text {
    padding: 1rem;
}

.brand-promotion__img img {
    width: 6rem;
}

.brand-promotion__section + .brand-promotion__section {
    border-left: var(--BORDER);
}


@media screen and (max-width: 576px) {
    .brand-promotion__img img {
        width: 4rem;
    }
}

/* FEATURES */
.features {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.features__image img {
    width: 50vw;
    max-width: 80rem;
    min-width: 30rem;
}

.features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.features__text h2 {
    font-size: 3.5rem;
    font-weight: 500;
    line-height:  5rem;
    margin-bottom: 1rem;
    color: var(--FONT-COLOR-MAIN);
}

.features__text ul {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--FONT-COLOR-SECONDARY);
}

.features__text ul li:before {
    content: url("../img/check.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: -1rem;
    transform: scale(.5);
 }

@media screen and (max-width: 1200px) {
    .features {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        row-gap: 5rem;
        flex-direction: column-reverse;
    }

    .features__image {
        display: flex;
        justify-content: center;
    }

    .features__image img {
        width: 80vw;
        max-width: 50rem;
    }
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2%;
    justify-content: center;
    grid-template-rows: 100%;
}


.products__wrapper {
    border: var(--BORDER);
    border-radius: 2rem;
}

.products__wrapper--state-active {
    border-color: var(--BRAND-COLOR);
}

.products__card {
    padding: 5rem;
    max-height: 90rem;
    display: grid;
    grid-template-rows: 20rem 7rem 32rem 5rem 5rem;
}

.products__button,
.products__price,
.products__card h4,
.products__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__image img {
    width: 15rem;
}

.products__card h4 {
    font-size: 1.8em;
    font-weight: 500;
    line-height:  3rem;
    color: var(--FONT-COLOR-MAIN);
}

.products__card ul {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--FONT-COLOR-SECONDARY);
    display: table;
    margin: 0 auto;
}

.products__card ul li:before {
    content: url("../img/check2.png");
    display: inline-block;
    vertical-align: middle;
    margin-right: -1rem;
    transform: scale(.5);
}

.products__button button {
    height: 4rem;
    width: 18rem;
    background-color: #fff;
    color: var(--BRAND-COLOR);
    border: 0.1rem solid var(--BRAND-COLOR);
}

.products__button button:hover {
    background-color: var(--BRAND-COLOR);
    color: #fff;
}

.products__button--state-active button {
    background-color: var(--BRAND-COLOR);
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .products {
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }   

    .products__card {
        grid-template-areas: 
            "image features"
            "name features"
            "price features"
            "button features";
        grid-template-rows: 20rem 7rem 5rem 5rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: space-between;
        flex-wrap: wrap;
        
    }

    .products__wrapper {
        max-width: 50rem;
        width: 80%;
        flex-wrap: wrap;
        flex-grow: 1;
    }

    .products__image {
        grid-area: image;
    }

    .products__card ul {
        grid-area: features;
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .products__card h4 {
        grid-area: name;
    }

    .products__button {
        grid-area: button;
    }
}


@media screen and (max-width: 768px) {
    .products__image img {
        width: 12rem;
    }

    .products__card {
        padding: 3rem;

    }

    .products__card ul {
        height: auto;
    }

    .products__card ul {
        text-align: right;
        white-space: nowrap; 
    }
}
